@mixin loadFrame($direction) 
	display: flex
	flex-direction: $direction
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	border-radius: 10px
	padding: 1em
	background-color: #F1DAC4
	border: 2px solid darkgrey

html,body 
	position: relative
	min-height: 100%

.wrapper 
	min-height: 100%
	min-height: 100vh
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	height: 100%
	background: radial-gradient(circle, rgba(115,142,255,1) 0%, rgba(127,254,255,1) 50%, rgba(33,25,168,1) 100%)
	// background: linear-gradient(0deg,#edefee,#c9c9c9)
	background-size: 100% 100%
	// Изображение от <a href="https://ru.freepik.com/free-vector/_15441828.htm#query=design%20elements&position=21&from_view=keyword">Freepik</a>

header 
	height: 10%

main 
	height: 80%
	display: flex
	align-items: center
	justify-content: center

.main-theme
	width: 100%
	.row
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		.col
			display: flex
			align-items: center
			justify-content: center

.game-field
	display: flex
	justify-content: center
	align-items: center
	width: 50%
	height: 100%

.menu 
	@include loadFrame(column)

.game
	@include loadFrame(row)
	.coast
		width: 60%
		.game-menu_header
			font-size: 1em
		.button-block
			flex-direction: column
			.btn-mode
				width: 50%
				margin-bottom: 0.5em
	.game-frame
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

.game-header
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

.coast
	margin-bottom: 2em
	.game-menu_header
	text-align: center

.players-score
	.scores
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		margin-bottom: 2em

.button-block
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	.btn
		width: 15%

.btn
	border: 1px solid black
	background-color: #fff
	&:hover
		box-shadow: 1px 2px 5px 1px
	&:focus
		box-shadow: inset 2px 1px 3px 1px
		outline: none

.btn-start 
	border-radius: 5px
	font-size: 2.5em
	padding: 10px 10px
	width: 5em
	color: white
	font-weight: bold
	border: none
	background-color: rgb(204, 102, 51)

.question
	border-radius: 10px
	padding: 1em
	background-color: #fff
	margin-bottom: 1em

.answer
	display: flex
	align-items: center
	justify-content: space-between
	height: 50%
	padding: 0.5em
	input
		width: 70%
		border-radius: 10px
		border: none
		&:active, &:focus
			outline: none

footer 
	height: 10%



/*Дополнительные стили*/
	
.hide 
	display: none !important

@media screen and (max-width: 1280px)
	.game-field
		width: 100%
		padding: 0.5em

	.btn-mode
		width: 100%
		font-size: 1em

@media screen and (max-width: 720px)
	main
		height: 100%
		width: 100%

	.game-field
		position: absolute
		height: 100vh
		width: 100vw
		box-sizing: border-box
		margin: 0
		padding: 0
	
	.game
		flex-direction: column
		.game-menu_header
			display: none
		.button-block
			position: absolute
			top: 1em
			align-items: center
			justify-content: center
			flex-direction: row !important
	

