@charset "UTF-8";
html, body {
  position: relative;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: radial-gradient(circle, #738eff 0%, #7ffeff 50%, #2119a8 100%);
  background-size: 100% 100%;
}

header {
  height: 10%;
}

main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-theme {
  width: 100%;
}
.main-theme .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-theme .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #F1DAC4;
  border: 2px solid darkgrey;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #F1DAC4;
  border: 2px solid darkgrey;
  border: 4px solid #B66415;
  padding: 0;
}

.game-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #F1DAC4;
  border: 2px solid darkgrey;
  justify-content: space-between;
  border: none;
  margin: 0;
  padding: 0;
}
.game-body .control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin: 0;
  padding: 10px 0 10px;
}
.game-body .control::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
  background-color: #B66415;
}
.game-body .control::after {
  position: absolute;
  top: 88%;
  left: 0;
  content: "";
  display: block;
  width: 335%;
  height: 4px;
  background-color: #B66415;
}
.game-body .control .rules {
  margin-top: 2vh;
}
.game-body .control .rules .btn-rules {
  border: none;
  background-color: inherit;
  color: #406BDA;
  font-size: 1.4em;
  text-decoration: underline;
}
.game-body .control .control-header {
  font-size: 1em;
  text-align: center;
}
.game-body .control .button-block {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-body .control .button-block .btn-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #B66415;
  background-color: #5258EC;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer;
}
.game-body .interface {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 0 10px;
}
.game-body .interface-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-body .interface-header::after {
  position: absolute;
  top: 100%;
  left: -1.5%;
  content: "";
  display: block;
  width: 103.5%;
  height: 4px;
  background-color: #B66415;
}
.game-body .interface-header .current-player {
  font-weight: bold;
}
.game-body .interface-header .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 30px;
  font-size: 1.7em;
  text-align: center;
  width: 10%;
  height: 100%;
  border-left: 4px solid #B66415;
}

.coast {
  margin-bottom: 2em;
  text-align: center;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-block .btn {
  width: 15%;
}

.btn {
  border: 1px solid black;
  background-color: #fff;
}
.btn:hover {
  box-shadow: 1px 2px 5px 1px;
}
.btn:focus {
  box-shadow: inset 2px 1px 3px 1px;
  outline: none;
}

.btn-start {
  border-radius: 5px;
  font-size: 2.5em;
  padding: 10px 10px;
  width: 5em;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #cc6633;
}

.question-container {
  margin-top: 2vh;
}
.question-container .question {
  min-height: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #F5F1DD;
  margin-bottom: 1em;
}
.question-container .lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.question-container .lang-button {
  background-color: #D9D9D9;
  border: 1px solid #A4A4A4;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
  margin-right: 0.3vw;
}
.question-container .active {
  background-color: #36AE36;
  border: 1px solid #1F741F;
}
.question-container .hint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #D9D9D9;
  border: 1px solid #A4A4A4;
  text-align: center;
  cursor: pointer;
}

.answer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 30%;
  padding: 0.5em;
  margin-top: 10%;
}
.answer-container .answer {
  width: 100%;
  min-height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #F5F1DD;
  padding: 10px;
}
.answer-container .answer:active, .answer-container .answer:focus {
  outline: none;
}
.answer-container .buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}
.answer-container .buttons-container .btn-interface {
  background-color: #5258EC;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}
.answer-container .buttons-container .btn-interface:hover {
  color: inherit;
  background-color: #fff;
}

.players-score {
  position: absolute;
  bottom: 0;
  left: 2%;
}
.players-score .scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  padding: 0 2vw;
}

/*Дополнительные стили */
.hide {
  display: none !important;
}

.modal-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper .close {
  position: relative;
  top: -30%;
  left: 45%;
  font-size: 5em;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.modal-wrapper .modal {
  position: relative;
  width: 40%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  display: block;
}
.modal-wrapper .modal .modal-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.modal-wrapper .modal .modal-content .modal-header {
  width: 100%;
  border: none;
}
.modal-wrapper .modal .modal-content .modal-body {
  font-size: 1.2em;
}

@media screen and (max-width: 1280px) {
  .game-field {
    width: 100%;
    padding: 0.5em;
  }
}
/*Мобильная версия */
@media screen and (max-width: 720px) {
  html, body {
    overflow: hidden !important;
  }

  main {
    height: 100%;
    width: 100%;
  }

  .game-field {
    position: absolute;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .game-body {
    flex-direction: column;
  }
  .game-body .control {
    width: 100%;
  }
  .game-body .control .button-block {
    flex-direction: row;
    justify-content: space-around;
  }
  .game-body .control .rules {
    display: none;
  }
  .game-body .interface {
    width: 100%;
  }
  .game-body .interface-header::after {
    left: -5%;
    width: 110%;
  }
  .game-body .interface-header .timer {
    border: none;
    position: relative;
    width: 30%;
    height: 100%;
    font-size: 5em;
    padding: 10px;
    margin: 0;
  }
  .game-body .interface-header .timer::before {
    content: "";
    display: block;
    position: absolute;
    top: -15%;
    left: 0;
    width: 4px;
    height: 115%;
    background-color: #B66415;
  }
  .game-body .lang {
    justify-content: center;
  }
  .game-body .lang .lang-button {
    margin-right: 5%;
    width: 20%;
  }
  .game-body .answer-container {
    margin-top: 10%;
  }
  .game-body .answer-container .answer {
    margin-top: 20%;
    padding: 10px;
  }
  .game-body .answer-container .buttons-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .game-body .answer-container .buttons-container .btn-interface {
    width: 100%;
    height: 40%;
    margin-top: 10%;
  }

  .modal-wrapper {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-wrapper .modal {
    width: 80%;
  }
  .modal-wrapper .close {
    color: red;
    position: static;
  }
}
